:root {
  --button: #248cf1;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
main {
  display: grid;
  place-items: center;
  height: 100vh;
}
input {
  border-radius: 5px;
  border: thin;
  font-size: 0.8rem;
}
form {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  width: 20%;
  border: 1px solid gray;
  align-items: center;
}
form input,
form button {
  height: 2rem;
  margin: 0.5rem 0;
  width: 100%;
}
form button {
  width: 100%;
  height: 2rem;
  border: none;
  background-color: var(--button);
  color: white;
  border-radius: 0.5rem;
}
img {
  display: flex;
  width: 18rem;
  height: 15rem;
}
a {
  display: flex;
  text-decoration: none;
  text-align: center;
  color: var(--button);
}
#password-recuperacao {
  font-size: 0.9rem;
  margin-left: 50%;
}
#entrar-facebook,
#ou {
  font-size: 0.9rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
@media (max-width: 768px) {
  form {
    border: none;
    width: 80%;
  }
  main {
    place-items: top;
  }
}
